main {
    background-color: white;
    margin: 5% auto;
    width: 90%;
    max-width: 700px;
    padding: 1rem;
    border-radius: 15px;
}

h1 {
    font-size: 1.5rem;
    color: hsl(187, 24%, 22%);
    font-weight: 700;
}