.radio-group > label {
  display: block;
  margin-bottom: .5rem;
}

.flex-start {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: .5rem;
  border: solid 1px hsl(186, 15%, 59%);
  padding: 0.6rem;
  border-radius: 10px;
}

.flex-start label,
.flex-start input {
  margin: 0;
  margin-left: 0.5rem;
  gap: 1rem;
}

.radio-group{
    margin-top: 1rem;
}

.radio-group:hover,
.flex-start:hover,
.flex-start input,
.flex-start label {
  cursor: pointer;
  border-color: hsl(169, 82%, 27%);
}

.flex-start:hover {
  background-color: hsl(148, 38%, 91%);
}

.flex-start:active {
  background-color: hsl(148, 38%, 91%);
}