.submit-button {
    background-color: hsl(169, 82%, 27%);
    border: none;
    color: white;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 400;
}