.input-text label{
    display: block;
    margin-top: 1rem;
    font-weight: 400;
}

.input-text input {
    display: block;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: solid 1px hsl(186, 15%, 59%);
    width: 100%;
    height: 2.5rem;
}

.input-text input::active {
    border: red;
    cursor: pointer;
}

.input-text:hover,
.input-text input {
    cursor: pointer;
    border-color: hsl(169, 82%, 27%);
}