.message-box {
    margin-top: 1rem;
}

.message-box textarea {
    margin-top: 0.5rem;
    width: 100%;
    height: 7rem;
    border-radius: 7px;
    border: solid 1px hsl(186, 15%, 59%);
    resize: none;
}